services:
  backend:
    build: ./server
    environment:
      - TIC_TAC_TOE_ROWS=3
      - TIC_TAC_TOE_COLUMNS=3
    ports:
      - "3001:3001"

  frontend:
    build: ./client
    ports:
      - "3000:80"
    depends_on:
      - backend